$primary-color: #407bff;
$light-gray: #f8f8f8;
$dark-gray: #333333;
$border-color: #F4F2F3;
$hover-background: #f2f5fa;
$active-row-background: #eef4ff;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$active-border-color: #407bff;

.table-container {
  padding: 24px;

  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 16px;

    h1 {
      font-size: 1.25rem;
      font-weight: 600;
      color: $dark-gray;
    }

    button {
      background-color: $primary-color;
      color: #fff;
      padding: 8px 16px;
      border-radius: 8px;
      border: none;
      font-size: 0.875rem;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        background-color: darken($primary-color, 5%);
      }
    }
  }

  .table {
    width: 100%;
    border-collapse: collapse;

    thead {
      tr {
        th {
          padding: 16px;
          text-align: left;
          color: $dark-gray;
          font-size: 1rem;
          font-weight: 600;
          border-bottom: 2px solid $border-color;

          .sort, span {
            display: flex;
            align-items: center;

            svg {
              margin-right: 4px;
            }
          }

          &:last-child {
            text-align: right;
            .sort {
              justify-content: flex-end;
            }
          }
        }
      }
    }

    tbody {
      tr {
        background-color: #fff;
        transition: box-shadow 0.2s ease, transform 0.2s ease;
        position: relative;

        &:hover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 16px rgba(0, 0, 0, 0.1);
          transform: translateY(-1px);
          cursor: pointer;
          z-index: 1;
        }
        &:active {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 16px rgba(0, 0, 0, 0.1);
          transform: translateY(-1px);
        }

        td {
          padding: 16px;
          font-size: 1rem;
          color: $dark-gray;
          border-bottom: 2px solid $border-color;
          vertical-align: middle;
          position: relative;

          &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            font-family: "zilla-slab", sans-serif;
font-weight: 500;
font-style: normal;
          }

          &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }

        &.active {
          td:first-child::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 2px;
            background-color: $active-border-color;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }
        }

      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 24px;

  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 20px;
    margin: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: #0056b3;
    }
  }

  span {
    margin: 0 10px;
    font-size: 1rem;
    color: #333;
  }
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100%;
  font-size: 1.25rem;
  color: $dark-gray;
}

/* Mobile styles */
@media (max-width: 768px) {
  .table-container {
    padding: 24px 0;
  }
}
