<section>
  <header>
    <h1>City Map</h1>
  </header>

  <section>
    <table class="table">
      <thead>
        <tr>
          <th>City</th>
          <th>Man</th>
          <th>Women</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        @for(city of cities; track city.id) {
        <tr>
          <td>{{ city.name }}</td>
          <td>{{ city.man }}</td>
          <td>{{ city.women }}</td>
          <td>{{ city.totl }}</td>
        </tr>
      }
      </tbody>
    </table>
</section>
